.margin {
    margin: 2px;
}

.background-img {
    background-image: url("../images/james-wheeler-ZOA-cqKuJAA-unsplash.jpg");
    object-fit: scale-down;
    width: auto;
    height: auto;
    background-position: center top;
}

header.card {
    margin-top: 0;
}
#container {
    height: 350px;
    margin: 100px;
}
/* submit button color */
.btn {
    background-color: grey;
}

/*#header-title {
    font-size: medium;
}

#temp-display {
    font-size: medium;
}
#cityName {
    font-size: medium;
}
#date {
    font-size: medium;
}

#aq {
    font-size: medium;
}
#pc {
    font-size: medium;
} */

.small-text {
    font-size: 11px;
}

.width-100 {
    width: 100%;
}