.margin {
    margin: 2px;
}

.background-img {
    background-image: url("../images/james-wheeler-ZOA-cqKuJAA-unsplash.jpg");
    object-fit: scale-down;
    width: auto;
    height: auto;
    background-position: center top;
}

#container {
    height: 350px;
}

/* modal reference buttons */
.ref {
    margin-top: 2px;
    width: 250px;
}

 header.card {
    margin-top: 0;
}
/*
#temp-display {
    font-size: medium;
} */
.city-title {
    font-size: x-large;
}
/*
#date {
    font-size: medium;
}

#aq {
    font-size: medium;
}
#pc {
    font-size: medium;
} */

.small-text {
    font-size: 11px;
}

.width-100 {
    width: 100%;
}

/* Air Quality Index Style*/
#aq span {
    padding: 0.2rem;
    border-radius: 25%;
}
.modal-error {
    font-size: 25px;
    font-weight: bold;
}