<<<<<<< HEAD
.margin {
  margin: 2px;
}

.background-img {
  background-image: url("../images/james-wheeler-ZOA-cqKuJAA-unsplash.jpg");
  width: auto;
  height: 1580px;
  background-position: center;
}

/*#header-title {
  font-size: medium;
}
#temp-display {
  font-size: medium;
}
#cityName {
  font-size: medium;
}
#date {
  font-size: medium;
}
#aq {
  font-size: medium;
}
#pc {
  font-size: medium;
} */
=======

.margin {
    margin: 2px;
}

.background-img {
    background-image: url("../images/james-wheeler-ZOA-cqKuJAA-unsplash.jpg");
    width: auto;
    height: 1580px;
    background-position: center;
}

/*#header-title {
    font-size: medium;
}

#temp-display {
    font-size: medium;
}
#cityName {
    font-size: medium;
}
#date {
    font-size: medium;
}

#aq {
    font-size: medium;
}
#pc {
    font-size: medium;
} */

>>>>>>> eedfea24cbf6ff3495f9f0b416aac93c6f0e75df
